.container{
	width: 80%;
	height: 70vh;
	border-radius: 20px;
	max-width: 650px;
	margin: auto;
	margin-top: 6%;
	/* foda pra krl esse margin auto centralizou  */
	background-color: #FFFFFF;
	/* sombra  */
	box-shadow: 18px 13px 36px 1px rgba(105,82,102,0.75);
	-webkit-box-shadow: 18px 13px 36px 1px rgba(105,82,102,0.75);
	-moz-box-shadow: 18px 13px 36px 1px rgba(105,82,102,0.75);
}

.fields{
	/*  altura - lados  */
	margin: 5% 10%;
}

.fields__title{
	display: flex;
	justify-content: center;
}

#field__title{

	font-size: 15px;
	font-weight: bold;
	color: #302930;

	margin-top: 20px;
	margin-bottom: 5%;
}

	/*  GOOGLE LOGO NO TITULO  */
	
#g{
	color: blue;
}

#o{
	color: orangered;
}

#o2{
	color: yellow;
}

#g2{
	color: blue;
}

#l{
	color: green;
}

#e{
	color: red;
}

	/*  GOOGLE LOGO NO TITULO  */

.fields__textboxes{
	height: 100px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.fields__textboxes > input{
	height: 40px;
	border: 1px solid silver;
	border-radius: 10px;
	margin-bottom: 5%;
}

.fields__remember{
	margin-bottom: 20px;
}

.fields__buttons > #btnLogin{
	width: 100%;
	border: none;
	color: #FFFFFF;
	padding: 10px;
	border-radius: 5px;
	margin-bottom: 10px;
}

.fields__recovery > a , .fields__create > a {
	text-decoration: none;
	color: #302930;
}

.fields__recovery{
	display: flex;
	justify-content: flex-end;
	margin-bottom: 20%;
}

.fields__create{
	display: flex;
	justify-content: center;
	font-size: 20px;
	font-weight: bold;
	margin-top: 40px;
	align-items: flex-end;
}

.logo{
	display: flex;
	justify-content: center;
	margin-top: 20px;
}

.logo > img{
	height: 80px;
}